In [16]:
import pandas as pd
from final_target import get_pymysql_db_list
from final_dbconnect import DBConnection_target
# 대상 종목 추출
db_stock_list = get_pymysql_db_list(DBConnection_target().get_sqlalchemy_connect_ip(), 'stock_info')

# 대상 종목 추출
target_df = pd.read_csv(f'./download/target/target_20221228.csv', encoding='euc-kr')
while True:
    target_df = target_df[['종목코드','시장구분','등락률','거래대금','시가총액']]
    target_df['value_cap_ratio'] = target_df['거래대금'] / target_df['시가총액']

    gubun, market_cap, ratio = target_df['시장구분'], target_df['시가총액'], target_df['등락률']
    kospi = target_df[(gubun == 'KOSPI') & (market_cap> 2000000000000) & (ratio > 0)].sort_values(by='value_cap_ratio', ascending=False).iloc[0:10]
    kosdaq = target_df[((gubun == 'KOSDAQ') | (gubun == 'KOSDAQ GLOBAL')) & (market_cap> 100000000000) & (market_cap < 500000000000) & (ratio > 0)].sort_values(by='value_cap_ratio', ascending=False).iloc[0:10]
    
    kospi_list = kospi['종목코드'].to_list()
    kosdaq_list = kosdaq['종목코드'].to_list()

    kospi_drop_list = list(set(kospi_list) - set(db_stock_list))
    kosdaq_drop_list = list(set(kosdaq_list) - set(db_stock_list))
    print(kosdaq_drop_list)
    
    if (len(kosdaq_drop_list) == 0) & (len(kospi_drop_list) ==0):
        break
    else:
        if len(kosdaq_drop_list) != 0:
            for i in range(len(kosdaq_drop_list)):
                print(i)
                target_df.drop(index = target_df[target_df['종목코드'] == kosdaq_drop_list[i]].index, axis=1, inplace=True)
        elif len(kospi_drop_list) != 0:
            for i in range(len(kospi_drop_list)):
                target_df.drop(index = target_df[target_df['종목코드'] == kospi_drop_list[i]].index, axis=1, inplace=True)

target_data = {'대형주' : kospi_list, '소형주' : kosdaq_list}

target_df = pd.DataFrame(target_data)

['162300']
0
[]

In [8]:
len(kosdaq_list)

10

In [12]:
for i in range(1):
    print(i)

0

In [17]:
target_df

      대형주     소형주
0  064350  362320
1  008770  298870
2  012450  270520
3  079550  950140
4  047810  027050
5  010060  010470
6  002790  241710
7  004170  033130
8  383220  257720
9  034020  115960

In [34]:
kosdaq_list[0]

'162300'

In [4]:
target_df = pd.read_csv(f'./download/target/target_20221228.csv', encoding='euc-kr')
target_df = target_df[['종목코드','시장구분','등락률','거래대금','시가총액']]
target_df['value_cap_ratio'] = target_df['거래대금'] / target_df['시가총액']

In [5]:
target_df

        종목코드    시장구분   등락률        거래대금          시가총액  value_cap_ratio
0     060310  KOSDAQ  3.78   518660495  106537929190         0.004868
1     095570   KOSPI  6.73  2674171470  282338438850         0.009472
2     006840   KOSPI  2.37   463614200  229182805300         0.002023
3     054620  KOSDAQ -0.95  5052631550  318149847600         0.015881
4     265520  KOSDAQ  0.27   524006000  286526643750         0.001829
...      ...     ...   ...         ...           ...              ...
2683  000547   KOSPI -0.29     4795050    2649600000         0.001810
2684  000545   KOSPI -1.57     4015050    4807680000         0.000835
2685  003280   KOSPI -1.42   294512045  334190609610         0.000881
2686  037440  KOSDAQ  1.55  1906100060  118619487000         0.016069
2687  238490  KOSDAQ  1.54    42948350   67307804200         0.000638

[2688 rows x 6 columns]

In [6]:
for i in range(len(kosdaq_list)):
    target_df.drop(index=target_df[target_df['종목코드'] == kosdaq_list[i]].index, axis=0, inplace=True)

In [7]:
target_df

        종목코드    시장구분   등락률        거래대금          시가총액  value_cap_ratio
0     060310  KOSDAQ  3.78   518660495  106537929190         0.004868
1     095570   KOSPI  6.73  2674171470  282338438850         0.009472
2     006840   KOSPI  2.37   463614200  229182805300         0.002023
3     054620  KOSDAQ -0.95  5052631550  318149847600         0.015881
4     265520  KOSDAQ  0.27   524006000  286526643750         0.001829
...      ...     ...   ...         ...           ...              ...
2683  000547   KOSPI -0.29     4795050    2649600000         0.001810
2684  000545   KOSPI -1.57     4015050    4807680000         0.000835
2685  003280   KOSPI -1.42   294512045  334190609610         0.000881
2686  037440  KOSDAQ  1.55  1906100060  118619487000         0.016069
2687  238490  KOSDAQ  1.54    42948350   67307804200         0.000638

[2687 rows x 6 columns]

In [3]:
target_df

      대형주     소형주
0  047810  362320
1  383220  298870
2  034020  270520
3  090430  162300
4  003670  950140
5  316140  027050
6  024110  010470
7  030200  241710
8  011200  033130
9  010130  257720

In [4]:
import pandas as pd
# 대상 종목 추출
target_df = pd.read_csv(f'./download/target/target_20221229.csv', encoding='euc-kr')
target_df = target_df[['종목코드','시장구분','등락률','거래대금','시가총액']]
target_df['value_cap_ratio'] = target_df['거래대금'] / target_df['시가총액']

try:
    gubun, market_cap, ratio = target_df['시장구분'], target_df['시가총액'], target_df['등락률']
    kospi = target_df[(gubun == 'KOSPI') & (market_cap> 5000000000000) & (ratio > 0)].sort_values(by='value_cap_ratio', ascending=False).iloc[0:10]
    kosdaq = target_df[((gubun == 'KOSDAQ') | (gubun == 'KOSDAQ GLOBAL')) & (market_cap> 100000000000) & (market_cap < 500000000000) & (ratio > 0)].sort_values(by='value_cap_ratio', ascending=False).iloc[0:10]

    kospi_list = kospi['종목코드'].to_list()
    kosdaq_list = kosdaq['종목코드'].to_list()


    target_data = {'대형주' : kospi_list, '소형주' : kosdaq_list}

    target_df = pd.DataFrame(target_data)
except:
    gubun, market_cap, ratio = target_df['시장구분'], target_df['시가총액'], target_df['등락률']
    kospi = target_df[(gubun == 'KOSPI') & (market_cap> 2000000000000) & (ratio > 0)].sort_values(by='value_cap_ratio', ascending=False).iloc[0:10]
    kosdaq = target_df[((gubun == 'KOSDAQ') | (gubun == 'KOSDAQ GLOBAL')) & (market_cap> 100000000000) & (market_cap < 500000000000) & (ratio > 0)].sort_values(by='value_cap_ratio', ascending=False).iloc[0:10]

    kospi_list = kospi['종목코드'].to_list()
    kosdaq_list = kosdaq['종목코드'].to_list()


    target_data = {'대형주' : kospi_list, '소형주' : kosdaq_list}

    target_df = pd.DataFrame(target_data)

In [5]:
target_df

      대형주     소형주
0  034020  033320
1  383220  177350
2  015760  335890
3  051900  162300
4  010130  015710
5  009150  192250
6  036570  306620
7  138040  378800
8  003490  129920
9  097950  061250

In [2]:
from module.setting import instStockChart, instCpCybos, instCpTdUtil, instCpTd0311, instCpTd6033, instCpTdNew5331A, instCpTd5339, instCpTd0314, inStockMst
from final_dbconnect import DBConnection_trading, DBConnection_present

from pandas.tseries.offsets import BDay
from datetime import date, datetime
from final_realtime import ds_account_stock_check
import pandas as pd
import time

In [3]:
def trading_history(conn, account_name, code_name, code, buy_num, sell_num, amount, ratio, pyungga, jangbu):
    now = datetime.now()
    time_ = str(now.year) +'-' + str(now.month) + '-' + str(now.day) + ' ' + str(now.hour) +':' + str(now.minute)
    account_name = account_name.lower()
    profit = str(int(pyungga) - int(jangbu))
    args = [(str(account_name), str(time_), str(code_name), 'A' + str(code), str(buy_num), str(sell_num), str(amount), str(ratio), str(profit))]  # 계좌이름, 종목코드, 매수, 매도

    try: 
        sql_create = f'''create table web_data.{account_name}_history(
                    account_name varchar(20)
                    , his_time varchar(50)
                    , code_name varchar(30)
                    , stock_code varchar(20)
                    , buy_num varchar(20)
                    , sell_num varchar(20)
                    , amount varchar(20)
                    , ratio varchar(10)
                    , profit varchar(20)
                    )'''
        cur = conn.cursor()
        cur.execute(sql_create)
    except:
        print('')

    sql_update = f'INSERT INTO web_data.{account_name}_history VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)'
    cursor =  conn.cursor()

    cursor.executemany(sql_update, args)
    conn.commit()
    conn.close()

In [4]:
def status_history(code):
    status_df = ds_account_stock_check()
    code_name = status_df[status_df['종목코드'] == 'A' + str(code)]['종목명'].values[0]
    amount = status_df[status_df['종목코드'] == 'A' + str(code)]['보유수량'].values[0]
    ratio = round(status_df[status_df['종목코드'] == 'A' + str(code)]['수익율'].values[0],3) 
    pyungga = status_df[status_df['종목코드'] == 'A' + str(code)]['평가금액'].values[0]
    jangbu = status_df[status_df['종목코드'] == 'A' + str(code)]['장부금액'].values[0]

    return code_name, amount, ratio, pyungga, jangbu

In [5]:
code = '008770'
code_name, total_num, ratio, pyungga, jangbu = status_history(code)

In [9]:
ratio

0.3276705830555743

In [10]:
trading_history(DBConnection_present().get_pymysql_connection(), '03big15', code_name, code, 2, 0, total_num, ratio, pyungga, jangbu)

DataError: (1406, "Data too long for column 'ratio' at row 1")

In [9]:
from final_module.final_dbconnect import DBConnection_stock

sql = f"SELECT 전일대비, 상장주식수, 시가총액, 외국인현보유수량, 외국인현보유비율, 기관순매수량, 기관누적순매수량, 년, 월, 일 FROM stock_info.`000020` WHERE 날짜=20230102 ORDER BY 시간 DESC LIMIT 1"
result = DBConnection_stock().get_sqlalchemy_connect_ip().execute(sql)
resutly = len(result.fetchall())

In [10]:
if resutly == 0:
    print('xxxx')
else:
    print('ddd')

ddd

In [9]:
from module.setting import instStockChart, instCpCybos, instCpTdUtil, instCpTd0311, instCpTd6033, instCpTdNew5331A, instCpTd5339, instCpTd0314, inStockMst
from final_module.final_dbconnect import DBConnection_trading, DBConnection_present

from pandas.tseries.offsets import BDay
from datetime import date, datetime

import pandas as pd
import time

In [10]:
def ds_account_stock_check():

    # 주문 초기화
    initCheck = instCpTdUtil.TradeInit(0)
    if (initCheck != 0):
        print('주문 초기화 실패, 연결 상태 확인 필요')
        return
    
    rqStatus = instCpTd6033.GetDibStatus() # Dib Server 상태 확인
    errMsg = instCpTd6033.GetDibMsg1() # 확인 메시지 출력
    if rqStatus != 0:
        print('Account_Stock Dib 연결 실패 : ', rqStatus, errMsg)
    
    acc = instCpTdUtil.AccountNumber[0]  # 계좌번호
    accFlag = instCpTdUtil.GoodsList(acc, 1)  # 주식상품 구분

    instCpTd6033.SetInputValue(0, acc)
    instCpTd6033.SetInputValue(1, accFlag[0])
    instCpTd6033.SetInputValue(2, 50) # 요청 갯수(최대 50)

    instCpTd6033.BlockRequest()
    cnt = instCpTd6033.GetHeaderValue(7)

    code_list = []
    name_list = []
    amount_list = []
    buyPrice_list = []
    evalValue_list = []
    evalPerc_list = []
    current_value = []

    for i in range(cnt):
        code = instCpTd6033.GetDataValue(12, i)  # 종목코드
        name = instCpTd6033.GetDataValue(0, i)  # 종목명
        amount = instCpTd6033.GetDataValue(7, i) # 체결잔고수량
        buyPrice = instCpTd6033.GetDataValue(17, i) # 체결장부단가
        evalValue = instCpTd6033.GetDataValue(9, i) # 평가금액(천원미만은 절사 됨)
        evalPerc = instCpTd6033.GetDataValue(11, i) # 평가손익
        
        code_list.append(code)
        name_list.append(name)
        amount_list.append(amount)
        buyPrice_list.append(buyPrice)
        evalValue_list.append(evalValue)
        evalPerc_list.append(evalPerc)
        current_value.append(amount*buyPrice)
    
    status_data = {'종목코드': code_list
                   , '종목명' : name_list
                   , '보유수량' : amount_list
                   , '평단가' : buyPrice_list
                   , '평가금액' : evalValue_list
                   , '수익율' : evalPerc_list
                   , '장부금액' : current_value
                   }
    status_df = pd.DataFrame(status_data)

    return status_df

In [11]:
status_df = ds_account_stock_check()

In [18]:
for code in status_df['종목코드'].to_list():
    code = code.split('A')[-1]
    print(code)

003670
012450
020150
036570
047810
064350
079550
088350
251270
352820